packages/mingw-w64-asciidoctor/PKGBUILD text eol=lf
packages/mingw-w64-asciidoctor/asciidoctor text eol=lf
packages/mingw-w64-asciidoctor/launcher.rb text eol=lf
packages/mingw-w64-asciidoctor/asciidoctor.bat text eol=crlf
